/**
 * Edit Post Link CSS
 */
.edit-post-link { border-style: solid; border-width: 2px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; font-size: 14px; font-weight: bold; height: 15px; line-height: 14px; margin-top: -20px; overflow: hidden; position: absolute; text-align: center; text-decoration: none; text-indent: -999px; width: 15px;
}
.edit-post-link:hover { text-decoration: none; }